img {
  width: 200px;
  height: 240px;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: F2FFE9; */
  background-color: 86A789;
  /* background-color: rgb(12, 25, 18); */
  color: 557C55;
  font-size: 15px;
}

h1 {
  line-height: 70px;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  line-height: 50px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

img {
  border-radius: 50%;
  box-shadow: 20px 20px 20px;
}

a {
  text-decoration: none;
  color: FA7070;
}

a:hover {
  color: C70039;
  transition: 0.9s;
}


.card {
  /* background-color: FEFCF3; */
  background-color: F2FFE9;
  border: dotted 1px;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  width: 1000px;
  box-shadow: 10px 10px 30px;
  text-align: center;
}

.container {
  margin: 100px auto;
}

#list-inline >li {
  display: inline-block;
  padding: 0 10px;
  /* padding-left: 0; */
  /* list-style: none; */
}

#list-center {
  display: inline-block;
  text-align: left;
}

  @media (max-width: 1700px) {
    .card {
      width: 1000px;
      /* background-color: rgb(12, 25, 18); */
    }
  }
@media (max-width: 1400px) {
  .card {
    width: 1000px;
    /* background-color: rgb(165, 15, 150); */
  }
}

@media (max-width: 1200px) {
  .card {
    width: 700px;
    /* background-color: rgb(192, 100, 25); */
  }
}

@media (max-width: 700px) {
  .card {
    width: 300px;
    /* background-color: rgb(192, 0, 25); */
  }
}

@media (max-width: 500px) {
  .card {
    width: 200px;
    /* background-color: rgb(192, 0, 25); */
  }
}
